/* general */

body {
	background-color: black;
	background-image: url('../images/Moon in Space.jpg');
	background-size: cover;
}

a {
	color: #46b8da;
}

.medium-gray {
	color: #606060;
}

.text-centered {
	text-align: center;
}

.five-padding-bottom {
	padding-bottom: 5px;
}


/* portals (login.html, signup.html, otpverification.html) */

.logo {
	width: 100%;
	height: auto;
}

.container-portal {
	background-color: rgba(223, 223, 224, .8);	/* this color in hex (without alpha) is #dfdfe0 */
	border-radius: 25px;
    padding: 15px;
	padding-top: 10px;
}

.portal-label {
	color: white;
}


/* login.html */

#spacer-login {
	height: 40px;
}

#container-login {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-login {
		height: 200px;
	}

	#container-login {
		width: 400px;
	}
}


/* otpverification.html */

#spacer-otpverification {
	height: 90px;
}

#container-otpverification {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-otpverification {
		height: 200px;
	}

	#container-otpverification {
		width: 400px;
	}
}


/* newuser.html */

#spacer-newuser {
	height: 90px;
}

#container-newuser {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-newuser {
		height: 200px;
	}

	#container-newuser {
		width: 400px;
	}
}


/* signup.html */

#spacer-signup {
	height: 15px;
}

#container-signup {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-signup {
		height: 200px;
	}

	#container-signup {
		width: 400px;
	}
}


/* profile.html */

#spacer-profile {
	height: 140px;
}

#container-profile {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-profile {
		height: 200px;
	}

	#container-profile {
		width: 400px;
	}
}