/* general */

body {
	background-color: black;
	background-image: url('../images/Moon in Space.jpg');
	background-size: cover;
}

a {
	color: #46b8da;
}

.medium-gray {
	color: #606060;
}

.text-centered {
	text-align: center;
}

.five-padding-bottom {
	padding-bottom: 5px;
}

.container-form {
	background-color: rgba(223, 223, 224, .8);	/* this color in hex (without alpha) is #dfdfe0 */
	border-radius: 25px;
    padding: 15px;
	padding-top: 10px;
}


/* portals */

.logo {
	width: 100%;
	height: auto;
}

.portal-label {
	color: white;
}


/* login.html */

#spacer-login {
	height: 40px;
}

#container-login {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-login {
		height: 200px;
	}

	#container-login {
		width: 400px;
	}
}


/* otpverification.html */

#spacer-otpverification {
	height: 90px;
}

#container-otpverification {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-otpverification {
		height: 200px;
	}

	#container-otpverification {
		width: 400px;
	}
}


/* newuser.html */

#spacer-newuser {
	height: 90px;
}

#container-newuser {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-newuser {
		height: 200px;
	}

	#container-newuser {
		width: 400px;
	}
}


/* signup.html */

#spacer-signup {
	height: 15px;
}

#container-signup {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-signup {
		height: 200px;
	}

	#container-signup {
		width: 400px;
	}
}


/* profile.html */

#spacer-profile {
	height: 140px;
}

#container-profile {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-profile {
		height: 200px;
	}

	#container-profile {
		width: 400px;
	}
}


/* navbarscapes */

.navbar {
	background-color: rgba(223, 223, 224, .8) !important;	/* this color in hex (without alpha) is #dfdfe0 */
}

.title {
	width: 120px;
	height: auto;
}

@media only screen and (min-width: 700px) {
	.title {
		width: 200px;
		height: auto;
	}
}

.nav-link {
	color: gray !important;
}

.current-lunar-living-nav-link {
	color: black !important;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: rgba(223, 223, 224, .8);	/* this color in hex (without alpha) is #dfdfe0 */
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
	color: black;
}


/* newlease.html */

#spacer-newlease {
	height: 65px;
}

#container-newlease {
	width: 250px;
}

@media only screen and (min-width: 700px) {
	#spacer-newlease {
		height: 200px;
	}

	#container-newlease {
		width: 400px;
	}
}

#button-add-text {
	font-size: 20px;
}

#email-list{
	display: inline;
}

#lease-form{
	display: inline;
}

#lease-button{
	display: inline;
}



/* index.html */



#spacer-index-before-banner {
	height: 0px;
}

#banner-index-container {
	text-align: center;
}

#banner-index {
	width: 100%;
	height: auto;
	border-radius: 0px;
}

#spacer-index-after-banner {
	height: 30px;
}

#container-index {
	background-color: rgba(223, 223, 224, .8);	/* this color in hex (without alpha) is #dfdfe0 */
	border-radius: 25px;
    padding: 15px;
	padding-top: 10px;
	width: 100%;
}

@media only screen and (min-width: 700px) {
	#spacer-index-before-banner {
		height: 70px;
	}

	#banner-index {
		width: 50%;
		height: auto;
		border-radius: 25px;
	}

	#spacer-index-after-banner {
		height: 70px;
	}

	#container-index {
		width: 50%;
	}
}
