/* general */

body {
	background-color: black;
}

a {
	color: #46b8da;
}

.spacer {
	height: 150px;
}

.portal-background {
	background-image: url('../images/Portal Background.jpg');
	background-size: cover;
}


/* index.html */

#logo {
	text-align: center;
	width: 100%;
	height: auto;
}

#login-container {
	width: 200px;
	background-color: #dfdfe0;
	border-radius: 25px;
    padding: 15px;
    padding-bottom: 6px;
}

@media only screen and (min-width: 700px) {
	#login-container {
		width: 400px;
	}
}

.login-label {
	color: gray;
}